/**
 * This stylesheet will work pretty well with a regular Org Mode HTML export.
 * However, you do have to turn off all of the defaults:
 *
 * (setq org-export-html-style-include-scripts nil
 *       org-export-html-style-include-default nil)
 *
 * and insert a call to the stylesheet:
 *
 * (setq org-export-html-style
 *       "<link rel=\"stylesheet\" type=\"text/css\" href=\"org-style.css\" />")
 */

/* @group Fonts */

h1, h2, h3, h4, h5, h6,
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-family: "Courier New";
}

pre {
    font-family: Monaco, "Courier New", Courier;
}

#text-table-of-contents a {
    font-family: "Arial";
}

/* @end */

/* @group Baseline */
body {
	font-size: 2.0ex;
	line-height: 1.5ex;
	padding: 0;
	margin: 0;
}
h1 {
	margin: 0;
	font-size: 1.6666666666666667em;
	line-height: 0.9em;
	margin-bottom: 0.9em;
}
h2 {
	margin: 0;
	font-size: 2.5ex;
	line-height: 1em;
	margin-bottom: 1em;
}
h3 {
	margin: 0;
	font-size: 2.0ex;
	line-height: 1.125em;
	margin-bottom: 1.125em;
}
h4 {
	margin: 0;
	font-size: 1.5ex;
	line-height: 1.1em;
	margin-bottom: 1.1em;
}
p, ul, blockquote, pre, td, th, label {
	margin: 0;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
ul.org-ul, ol.org-ol, dl.org-dl {
	margin: 0em;
	font-size: 1em;
	line-height: 1.5em;
	margin-bottom: 1.5em;
}
ul.org-ul > lioo {
	margin-left: 10.5em;
}

p.small, #postamble {
    margin: 0;
	font-size: 0.8333333333333334em;
	line-height: 1.8em;
	margin-bottom: 1.8em;
}
table {
	border-collapse: collapse;
	margin-bottom: 1.5em;
}
/* @end */

/* @group Layout */


#content {
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

/* #header {
	height: 10em;
}
*/

#table-of-contents {
	width: 15%;
	float: left;
	overflow: hidden;
}

#text-table-of-contents {
	overflow: hidden;
}

/* #main { */
div.outline-2 {
        width: 80%;
	float: right;
	/* The lines below are useful if the "main" div isn't available and
	   div.outline-2 has to be used. */
	position: relative;
}

div.abstract {
        width: 83%;
	float: right;
	/* The lines below are useful if the "main" div isn't available and
	   div.outline-2 has to be used. */
	position: relative;
}

#postamble {
    border-top: 1px solid darkred;
    clear: both;
    text-align: left;
}

div.outline-2 pre {
    width: 40em;
    overflow: auto;
}

/* @end */

/* @group Header */

h1.title {
	margin-top: 1.5ex;
	margin-bottom: 1.5ex;
	text-align: center;
	font-size: 3.1ex;
	font-weight: bold;
}

/* @end */

/* @group Org Keywords */

.todo {
	color: red;
}

.done {
	color: green;
}

.tag {
	color: blue;
	text-transform: lowercase;
	/* This will be obscured by the surrounding span tag, so blank everything. */
	background: #fff;
	border: none;
	/* position: relative;
	text-align: right;
	right: 1em; */
}

.timestamp {
}

.timestamp-kwd  {
	/* keyword associated with a time stamp, like SCHEDULED */
}

.target {
	/* target for links */
}

/* @end */

/* @group Table of Contents */

#table-of-contents h2 {
	letter-spacing: -0.1em;
}

#table-of-contents ul,
#table-of-contents ol {
    padding-left: 1em;
}

/* @end */

/* @group Outline Level 2 */

.outline-2 h2 {
    background: #ffc;
    border-bottom: 1px solid #ccc;
}

.outline-2 h2, .outline-2 h3 {
    letter-spacing: -0.05em;
}

.outline-2 {
	padding: 5px;
	/* margin-bottom: 10px; */
	/* border-top: 1px solid #ccc; */
}

/* @end */

td {
	border: 1px solid #ccc;
}


h1 span, h2 span, h3 span, h4 span, h5 span, h6 span {
    background-color: #eee;
    padding: 2px;
    border: 1px solid #ccc;
}

.outline-1, .outline-2, .outline-3, .outline-4, .outline-5, .outline-6 {
    margin-left: 2em;
}

a {
    text-decoration: none;
    color: #57d; /* TODO: Find a better colour for this. */
}

a:hover {
    border-bottom: 1px dotted #57d;
}

#postamble p {
    margin: 0px;
    text-color: red;
}

pre {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #eee;
    padding: 8pt;
    font-family: monospace;
    overflow: auto;
    margin: 1.2em;
}
pre.src {
    position: relative;
    overflow: visible;
    padding-top: 1.2em;
}
pre.src:before {
    display: none;
    position: absolute;
    background-color: white;
    top: -10px;
    right: 10px;
    padding: 3px;
    border: 1px solid black;
}

pre.src:hover:before { display: inline;}
pre.src-sh:before    { content: 'sh'; }
pre.src-bash:before  { content: 'sh'; }
pre.src-emacs-lisp:before { content: 'Emacs Lisp'; }
pre.src-R:before     { content: 'R'; }
pre.src-perl:before  { content: 'Perl'; }
pre.src-java:before  { content: 'Java'; }
pre.src-sql:before   { content: 'SQL'; }
